@import "../../styles/mixin.scss";

$width: calc(65% - 36px);
.drop__container{
    display: inline-block;
    // background-color: $bg-color-panel;
    .dropdown__component{
        min-height: 80px;
        width: 85vw;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #f8f8f8;

        .title {
            height: 60px;
            line-height: 60px;
            padding-bottom: 10px;
            padding-top: 10px;
            font-size: 28px;
            font-weight: 400;
            color: $color-light;
        }
        .arrow__direction {
            width: 36px;
            height: 36px;
            background-image: url(../../assets/images/user/expand_more_black.png);
            background-size: contain;
            &.arrow__direction--up{
                transform: rotate(180deg);
            }
        }
    }
    &.content__collapse{
        display: none;
        visibility: hidden;
    }
    &.content__expand{
        position: fixed;
        display: block;
        box-sizing : border-box;
        visibility: visible;
        z-index: 5000;
        border-radius: 10px;
        top: auto;
        width: 85vw;
        left: 10;
        right: 10;
        box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
    }
}



