@import '../../styles/mixin.scss';

.cell {
  display: flex;
  box-sizing: border-box;
  border-radius: 16px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  justify-content: space-between;
  background-color: white;
  flex-direction: row;
  border: 0.5px solid #ededed;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  .left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    .row{
      box-sizing: border-box;
      flex-direction: row;
      margin-top: 20px;
      margin-bottom: 20px;
      white-space:nowrap; text-overflow:ellipsis;
      .title{
        font-size: 30px;
        line-height: 20px;
        outline: 0;
        color: #666;
      }
      .content{
        font-size: 30px;
        line-height: 20px;
        margin-left: 10px;
        color: #666;
      }
    }

  }
  @include ar
}
