@import '../../styles/mixin.scss';

// page {
//   background-color: #efefef;
//   padding         : 0 0 0 0;
//   // box-sizing      : border-box;
//   // background: url('./hook.png') no-repeat;
//   // background-size: cover;
// }

.user-page {
  @include wh(100%,100vh);
  background-color: white;
  display: flex;
  // overflow: scroll;
  flex-direction: column;
  box-sizing      : border-box;
  .not-login {
     background: linear-gradient(#37bc44 0%, rgba(0, 0, 0, 0.1) 100%);

    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;

    /* Size */
    height: 15%;
    width: 100%;
    .to-login{
      border-radius: 16px;
      margin:  20px;
      padding: 30px;
      display: flex;
      justify-content: space-between;
      background-color: white;
      align-items: center;
      box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
      .left {
        min-height: 120px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        .avatar-container {
          border-radius: 50%;
          width: 120px;
          height: 120px;
          overflow: hidden;
          .avatar {
            width: 120px;
            height: 120px;
            object-fit: cover;
          }
        }
        .name {
          height: 60px;
          line-height: 60px;
          padding: 0 30px;
          font-size: 44px;
          text-align: center;
          font-weight: 400;
          color: #333;
        }
        .login-button {
          height: 60px;
          line-height: 60px;
          padding: 0 30px;
          font-size: 32px;
          color: #fff;
          background-image: linear-gradient(-90deg,  #37bc44 0%,#86e2a3 0%,);
          text-align: center;
          font-weight: 600;
        }

      }
      @include ar
    }
    .cell {
      border-radius: 16px;
      margin:  20px;
      padding: 30px;
      display: flex;
      justify-content: space-between;
      background-color: white;
      flex-direction: row;
      align-items: center;
      box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
      .title{
        height: 60px;
        font-size: 30;
        line-height: 60px;
        text-align: center;
        font-weight: 400;
        color: #333;
      }
      @include ar
    }

  }


}

// .wrapper {
//   display       : flex;
//   flex-direction: column;
//   margin: 0;
//   padding: 0;
//   width: 100%;
//   height: 100%;
//   font-size: 20px;
// }

