@import '../../styles/mixin.scss';

page {
  background-color: white;
  box-sizing      : border-box;
  color           : #333;
  // background: url('./hook.png') no-repeat;
  // background-size: cover;
}

.lastContent{
  width: 100vw;
  height: 100px;
  background-color: $bg-color-panel
}


.child-page{
  @include wh(100%, 100%);
  overflow: scroll;
  box-sizing      : border-box;
  padding: 30px;
  -webkit-overflow-scrolling: touch;
  .bgtopWrap {
    width: 100%;
    background: white;
    background-size: 100%;
    overflow: hidden;
    margin-top: 40px;

  }
  .childWrap {
    margin:  auto ;
    border-radius: 10px;
    padding: 30px 40px 30px 20px;
    overflow: hidden;
    .inpuWrapName {
      height: 80px;
      margin: 20px auto 10px auto;
      overflow: hidden;
      border-bottom: 1px solid #f8f8f8;
      input {
        border: 0;
        height: 80px;
        font-size: 28px;
        width: 100%;
        outline: 0;
        background-color: transparent;
        overflow: hidden;
        margin: 0;
        text-align: left;
        color: #333;
      }
    }
    .title{
      height: 20px;
      font-size: 22px;
      width: 100%;
      outline: 0;
      margin-bottom: 0px;
      margin-top: 10px;
      background-color: white;
      color: #333;
    }
    .grade{
      height: 44px;
      font-size: 28px;
      width: 100%;
      outline: 0;
      padding-bottom: 10px;
      padding-top: 10px;
      background-color: white;
      overflow: hidden;
      margin: 0;
      text-align: center;
      color: #333;
      border-bottom: 1px solid #f8f8f8;
    }
    .course-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      .dash-top{
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #f8f8f8;
        .left-checkbox{
          margin-left: 10px;
          margin-top: 10px;
        }
        .right-button{
          font-size: 20px;

          display         : flex;
          width           : 80px;
          height: 44px;
          text-align: center;
          background-color: rgb(51,204,153);
          border-radius   : 10px;
          color:white;
          align-items: center;
          justify-content: center;
        }

      }
      .course-wrapper{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        .item {
           padding: auto;
           margin: 10px;
        }
      }
    }
    .selected-course {
      display: flex;
      flex-direction: row;
      .course-item {
        display: flex;
        height: 20px;
        font-size: 22px;
        outline: 0;
        margin-bottom: 0px;
        margin-top: 10px;
        background-color: white;
        color: red;
      }
    }


  }

}

