@import '../../styles/mixin.scss';

page {
  background-color: white;
  box-sizing      : border-box;
  color           : #333;
  // background: url('./hook.png') no-repeat;
  // background-size: cover;
}

.lastContent{
  width: 100vw;
  height: 100px;
  background-color: $bg-color-panel
}


.child-page{
  @include wh(100%, 100%);
  overflow: scroll;
  box-sizing      : border-box;
  padding: 30px;
  -webkit-overflow-scrolling: touch;
  .bgtopWrap {
    width: 100%;
    background: white;
    background-size: 100%;
    overflow: hidden;
    margin-top: 40px;

  }
  .childWrap {
    margin:  auto ;
    border-radius: 10px;
    padding: 30px 40px 30px 20px;
    overflow: hidden;
    .inpuWrapName {
      height: 80px;
      margin: 20px auto 10px auto;
      overflow: hidden;
      border-bottom: 1px solid #f8f8f8;
      input {
        border: 0;
        height: 80px;
        font-size: 28px;
        width: 100%;
        outline: 0;
        background-color: transparent;
        overflow: hidden;
        margin: 0;
        text-align: left;
        color: #333;
      }
    }
    .grade{
      height: 44px;
      font-size: 28px;
      width: 100%;
      outline: 0;
      padding-bottom: 10px;
      padding-top: 10px;
      background-color: white;
      overflow: hidden;
      margin: 0;
      text-align: center;
      color: #333;
      border-bottom: 1px solid #f8f8f8;
    }

  }

}

