@import '../../styles/mixin.scss';

page {
  background-color: white;
  box-sizing      : border-box;
  color           : #333;
  // background: url('./hook.png') no-repeat;
  // background-size: cover;
}

.lastContent{
  width: 100vw;
  height: 100px;
  background-color: $bg-color-panel
}


.child-page{
  @include wh(100%, 100%);
  overflow: scroll;
  box-sizing      : border-box;
  padding: 30px;
  -webkit-overflow-scrolling: touch;
  .bgtopWrap {
    width: 100%;
    background: white;
    background-size: 100%;
    overflow: hidden;
    margin-top: 40px;

  }
  .childWrap {
    margin:  auto ;
    border-radius: 10px;
    padding: 30px 40px 30px 20px;
    overflow: hidden;
    .inpuWrapName {
      height: 80px;
      margin: 20px auto 10px auto;
      overflow: hidden;
      border-bottom: 1px solid #f8f8f8;
      input {
        border: 0;
        height: 80px;
        font-size: 28px;
        width: 100%;
        outline: 0;
        background-color: transparent;
        overflow: hidden;
        margin: 0;
        text-align: left;
        color: #333;
      }
    }

    .dropdown{
      border-radius: 16px;
      position: relative;
      justify-content: space-between;
      background-color: white;
      flex-direction: column;
      align-items: center;
      // box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
      .content{
        // height: 50px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #f8f8f8;
        .title {
          height: 60px;
          line-height: 60px;
          padding-bottom: 10px;
          padding-top: 10px;
          font-size: 28px;
          font-weight: 400;
          color: $color-light;
        }
        .arrow-down {
          width: 36px;
          height: 36px;
          margin-right : 10px;

          // display: inline-block;
          // vertical-align: top;
          // border-left: 0.15px solid currentColor;
          // border-bottom: 0.15px solid currentColor;
          // transform: rotate(180deg);
          // margin-left: 0.38px;
          // margin-top: -0.25px;
        }
        .arrow-up{
          width: 36px;
          height: 36px;
          margin-right : 10px;
          transform: rotate(180deg);
        }

      }

    }
    .grade-collapse{
      display: none;
      visibility: hidden;
    }
    .grade-expand{
      position: absolute;
      display: flex;
      box-sizing : border-box;
      flex-direction: column;
      visibility:visible;
      z-index: 9999;
      width: 90%;
      border-radius: 10px;
      right: 30px;
      left: 30px;
      top: auto;
      box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
      .grade{
        height: 44px;
        font-size: 28px;
        width: 100%;
        outline: 0;
        padding-bottom: 10px;
        padding-top: 10px;
        background-color: white;
        overflow: hidden;
        margin: 0;
        text-align: center;
        color: #333;
        border-bottom: 1px solid #f8f8f8;
      }
    }
    .course-check-expand{
      border-radius: 16px;
      margin:  30px 0;
      display: flex;
      justify-content: space-between;
      background-color: white;
      flex-direction: column;
      align-items: center;
      // box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
      .course-view{
        // height: 50px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #f8f8f8;
        .course-title {
          height: 60px;
          line-height: 60px;
          padding-bottom: 10px;
          padding-top: 10px;
          font-size: 28px;
          font-weight: 400;
          color: $color-light;
        }
        .arrow-right {
          width: 36px;
          height: 36px;
          margin-right : 10px;
          transform: rotate(-90deg);

        }

      }
    }
  }

}

